<p>
  <strong><%=List.human_attribute_name("name")%></strong>
  <%= @list.name %>
</p>
<p>
  <strong><%= t('recipient').capitalize.pluralize(@list.receivers.count) %>:</strong>
  <%= @list.receivers.count%>
</p>
<p>
  <div id="hidder">
    <%= button_tag t('show_number').capitalize.pluralize(@list.receivers.count).html_safe,:class => "hidder_link",:id => "toggle_numbers",
        :data => {
            show: t('show_number').capitalize.pluralize(@list.receivers.count).html_safe, 
            hide: t('hide_number').capitalize.pluralize(@list.receivers.count).html_safe
            }%>
  </div>
  <div id="numbers" class="hidden">
    <strong><%= t("number").capitalize.pluralize(@list.receivers.count).html_safe %>:</strong>
    <% @list.receivers.each do |num| %>
      <%= num %>
    <% end %>
  </div>
</p>

<%= link_to t(:edit), edit_list_path(@list) %> |
<%= link_to t(:back).html_safe, lists_path %> |
<%= link_to t(:new_item, item: t(:bulk_message).titlecase), new_bulk_message_path(:list_ids => [@list.id]) %> |
<%= link_to t(:new_item_f, item: t(:lists).singularize.capitalize), new_list_path %>
