<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<p>
  <strong><%= t('recipient').capitalize.pluralize(@list.gsm_numbers.count) %>:</strong>
  <%= @list.gsm_numbers.count%>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'New Bulk', new_bulk_message_path(:list_ids => [@list.id]) %>
