<p>
  <strong><%=List.human_attribute_name("name")%></strong>
  <%= @list.name %>
</p>
<p>
  <strong><%= t('recipient').capitalize.pluralize(@list.receivers.count) %>:</strong>
  <%= @list.receivers.count%>
</p>

<%= link_to t(:edit), edit_list_path(@list) %> |
<%= link_to t(:back).html_safe, lists_path %> |
<%= link_to t(:new_item, item: t(:bulk_message).titlecase), new_bulk_message_path(:list_ids => [@list.id]) %>
