<%= form_for(@topup) do |f| %>
  <% if @topup.errors.any? %>
    <div id="error_explanation">
      <h2> <%= raw t('errors.template.header',
                count: @topup.errors.count,
                model: Topup.model_name.human)%>
      </h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @topup.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline-field">
    <%= f.label :number, Topup.human_attribute_name("number").html_safe %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.select :amount,
        (10..50).step(5).to_a
  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
