<%= form_for(@topup) do |f| %>
  <% if @topup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topup.errors.count, "error") %> prohibited this topup from being saved:</h2>

      <ul>
      <% @topup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline-field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.select :amount,
      Topup::RECHARGE_TYPES
  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
