<h1> <%= Topup.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= Topup.human_attribute_name("number").html_safe %></th>
      <th><%= Topup.human_attribute_name("amount") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topups.each do |topup| %>
      <tr>
        <td><%= topup.number %></td>
        <td><%= topup.amount %></td>
        <td><%= link_to t(:show), topup %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @topups %></p>

<%= link_to t(:new_item_f, item: Topup.model_name.human.titlecase ), new_topup_path %>
