<h1>Listing topups</h1>

<table>
  <thead>
    <tr>
      <th><%= Topup.human_attribute_name("number") %></th>
      <th><%= Topup.human_attribute_name("amount") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topups.each do |topup| %>
      <tr>
        <td><%= topup.number %></td>
        <td><%= topup.amount %></td>
        <td><%= link_to t(:show), topup %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topup', new_topup_path %>
