<p>
  <strong><%= Topup.human_attribute_name("number").html_safe %>:</strong>
  <%= @topup.number %>
</p>

<p>
  <strong><%= Topup.human_attribute_name("amount") %>:</strong>
  <%= @topup.amount %>
</p>

<%= link_to t(:new_item_f , item: Topup.model_name.human.titlecase ), new_topup_path %> |
<%= link_to t(:all).capitalize, topups_path %>
