<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<%= notice%>
<fieldset>
  <legend><%= t(:sending_options).capitalize.html_safe%></legend>
  <div class="field">
    <%= f.label :route, t("activerecord.models.route") %>:
    <%= f.select :route_id,
      options_from_collection_for_select(current_user.routes, "id", "name"),
      {},
      :class => "message_route_select"
    %>
  </div>
  <br/>
<%if obj.class==SingleMessage%>
  <div class="field">
    <%= check_box('schedule', 'schedule')%>
    <%= f.label :check_schedule, t("activerecord.models.check_schedule") %>

    <%=text_field('datepik','datepik',:id=>"datepicker",:value=>Time.now.day.to_s+'/'+Time.now.month.to_s+'/'+Time.now.year.to_s) %>
    <%= select_time(Time.now) %>
  </div>

  <div class="field">
    <%= check_box(:backupSms, :backupSms)%>
    <%= f.label :backupSms, t('activerecord.models.backup_sms')%><br>
  </div>
<%end%>

  <div class="field">
    <%if !current_user.movil_number.blank? %>
        <%= check_box(:notified,:notified)%>
        <%= f.label :backupSms, t('activerecord.models.notified_sms')%><br>
    <%else%>
        <p>Si desea recibir notificaciones incluya su numero de teléfono móvil en su informacion personal <%= link_to t('account'), main_app.edit_user_registration_path %></p>
    <%end%>
  </div>
</fieldset>
