<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<%= notice%>
<fieldset>
  <legend><%= t(:sending_options).capitalize.html_safe%></legend>
  <div class="field">
    <%= f.label :route, t("activerecord.models.route") %>:
    <%= f.select :route_id,
      options_from_collection_for_select(current_user.routes, "id", "name"),
      {},
      :class => "message_route_select"
    %>
  </div>
  <br/>
  <div class="field">
    <div class="checkbox">
    <%= f.label :check_schedule, t("activerecord.models.check_schedule") %>:
    <%= check_box('schedule', 'schedule')%>
    </div>
    <%= f.label :schedule_sms, t("activerecord.models.schedule_sms") %>:
    <%=text_field('datepik','datepik',:id=>"datepicker",:value=>Time.now.day.to_s+'/'+Time.now.month.to_s+'/'+Time.now.year.to_s) %>
    <%= select_time(Time.now) %>

  </div>
</fieldset>

