<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:message).capitalize%>:</strong>
  <%= @single_message.message %>
</p>

<p>
  <strong><%= t(:recipient).capitalize%>:</strong>
  <%= @single_message.number %>
</p>

<%= render '/messages/message_route' %>

<%= link_to t(:new), new_single_message_path %> |
<%= link_to t(:all_m).capitalize, single_messages_path %>
