<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @single_message.message %>
</p>

<p>
  <strong>Numbers:</strong>
  <%= @single_message.number %>
</p>

<%= render '/messages/message_route' %>

<%= link_to 'New', new_single_message_path %> |
<%= link_to 'All', single_messages_path %>
