<%= @notice_notified%>

<h2><%= t('devise.registrations.edit.user_edit_one') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(<%= t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')%>)</i><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= label_tag t('phone')+': ' %> <i> <%= current_user.movil_number if !current_user.movil_number.blank? %> <%= t('not_confirm_number') if current_user.confirm_token_number.blank? and  !current_user.movil_number.blank?%></i>

      <br />
      <%= text_field :movil_number, :movil_number %> <i><%=t('key_confirm') if !current_user.token_number.blank? and current_user.confirm_token_number.blank? %></i> <%= text_field :confirm_number, :confirm_number,:style=>'width:41px;' if !current_user.token_number.blank? and current_user.confirm_token_number.blank?%> </div>

    <div><%= label_tag t('url_callback') %><i><%= '('+t('current_url')  + current_user.url_callback + ')' if !current_user.url_callback.blank?%></i><br />
      <%= text_field :url, :url %></div>

    <div><%= check_box :low_a_check,:low_a_check%> <%= label_tag t('low_account') %> <i><%=  t('low_account_current',:credit => current_user.low_account.to_f.to_s)  if !current_user.low_account.nil? %></i><br />
      <%= text_field :low_account, :low_account , :style=>'width:64px;',:placeholder=> t('number').html_safe%> <%= render 'warning_balance'%></div>

    <div>  <%= check_box :unit_views,:unit_views, :checked => current_user.unit_views.blank? ? false: true %> <%= label_tag t('unit_views') %></div>
    <br/>

    <div><%= f.label :current_password %> <i>(<%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes')%>)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><%= f.submit t('devise.registrations.edit.update') %></div>
<% end %>

<br/>
<%= render 'get_api_key'%>
<br/>
<br/>
<%= render 'reconfirmed'%>


<h3><%= t('devise.registrations.edit.cancel_my_account')%></h3>


<p><%= t('devise.registrations.edit.unhappy')%>? <%= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: I18n.translate('devise.registrations.edit.are_you_sure') }, method: :delete %>
</p>


<%= link_to t('devise.shared.links.back'), :back %>
