<!DOCTYPE html>
<html lang= "<%= I18n.locale %>">
<head>
  <!--<meta content="10" http-equiv="refresh">-->
  <title>Sms - <%= t(:delivery_reports).titlecase%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= render '/right_menu' %>

  <%= render '/top_menu' %>

<hr>
<% end %>

<%= yield %>

<hr>

<%= render '/footer_menu' %>

</body>
</html>
