
<p>
  <strong>Name route:</strong>
  <%= @table_route.name_route %>
</p>

<p>
  <strong>Price system:</strong>
  <%= @table_route.price_system %>
</p>

<p>
  <strong>Price cost:</strong>
  <%= @table_route.price_cost %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @table_route.country_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @table_route.country %>
</p>

<%= link_to 'Edit', edit_table_route_path(@table_route) %> |
<%= link_to 'Back', table_routes_path %>
