<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <fieldset>
    <legend>Contacts</legend>
    <%= f.select :contacts,
      options_for_select(current_user.contacts, @group.contacts),
      {},
      {:multiple => true, :size => 10}
    %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
