<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= raw t('errors.template.header', count: @user.errors.count, model: t('activerecord.models.user')) %>
      </h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.check_box :admin %>
    <%= f.label :admin %>?
  </div>
  <%if current_user.admin%>
        <div class="field">
          <%= f.label :movil_number %><br>
          <%= f.text_field :movil_number %>
        </div>
        <div class="field">
          <%= f.label :url_callback%><br>
          <%= f.text_field :url_callback %>
        </div>
        <div class="field">
          <%= f.label :low_account%><br>
          <%= f.text_field :low_account %>
        </div>
        <div class="field">
          <%= label_tag :user_mask_privilegies %>
          <%= check_box :mask_user,:mask_user, :checked =>@user.roles.where(:name=>'mask_user').blank? ? false : true%>
        </div>
        <div class="field">
          <%= label_tag :api_key_generate %>
          <%= check_box_tag :api_key %>
        </div>
        <p>api_key: <%=@user.api_key if !@user.api_setting.nil?%></p>

 <%end%>
  <div class="field">
    <%= f.label :locale %><br>
    <%= f.collection_select :locale, I18n.available_locales, :to_s, :capitalize %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
