<h1><%= t(:listing_users).html_safe %> (<%= User.count %>)</h1>

<%= form_tag @users_path, :method => 'get' do %>
      <%= text_field_tag :search,params[:search],:placeholder=>'email'%>
      <%= submit_tag t('search').to_sym,:name=>nil%>
<%end%>
<br/>

<br/>
<table style="border-top: 1px solid black;">
  <thead>
    <tr>
      <th><%= t('user') %></th>
      <th>Balance</th>
      <th><%= t('spent').html_safe %></th>
      <th><%= t('phone')%></th>
      <th><%= t('is_admin').html_safe %></th>
      <th><%= User.human_attribute_name("locale")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user %></td>
        <td><%= user.balance %></td>
        <td><%= user.spent %></td>
        <td><%= user.movil_number %></td>
        <td><%= user.admin or "" %></td>
        <td><%= user.locale %></td>
        <td><%= link_to t(:show), user %></td>
        <td><%= link_to t(:edit), edit_user_path(user) %></td>
        <td><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('sure').html_safe } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @lists %></p>

<% if current_user.admin %>
  <%= link_to t('new_user').html_safe, new_user_path %>
<% end %>

