<h1>Listing historic_logs</h1>

<%= form_tag historic_logs_names_path, :method => :post do %>

<%= select_tag(:user_id_historic,
               options_from_collection_for_select(User.all, "id", "email"),:style=>"width:206px;")
%>
    <%= submit_tag :search%>
<%end%>
<br/>
<br/>

<table>
  <thead>
    <tr>
      <th>Action name</th>
      <th>Controller name</th>
      <th>id(opcional)</th>
      <th>full_path</th>
      <th>parameters extra (opcional)</th>
      <th>Date access</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @historic_logs.each do |historic_log| %>
      <tr>
        <td><%= historic_log.action_name %></td>
        <td><%= historic_log.controller_name %></td>
        <td><%= historic_log.parameter_req %></td>
        <td><%= historic_log.full_path %></td>
        <td><%= historic_log.parameters_not_comun %></td>
        <td><%= I18n.localize(historic_log.created_at,:format=>:date_time) %></td>
        <td><%= User.find(historic_log.user_id).email if historic_log.user_id!=0 %></td>
        <td><%= link_to 'Show', historic_log %></td>
        <td><%= link_to 'Destroy', historic_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= will_paginate @historic_logs %></p>

<%= link_to 'Todos', historic_logs_path%>
