<!--<h1><%= t('welcome') %></h1>-->

<%= image_tag 'logo_knal.png',:width => '206px;',:height => '90px;'%>


<p>Pluie Versi&oacute;n: <%= ENV['PLUIE_VERSION'] %> </p>
<p>System time: <%= I18n.localize(Time.current, :format => :long).html_safe %></p>
<p>Location:</p>

<p>Rails versi&oacute;n: <%= Rails::VERSION::STRING%></p>
<p>Ruby versi&oacute;n: <%= RUBY_VERSION%></p>

<%hash_count_sms = current_user.query_home%>
<p><%= link_to t('last_hour').html_safe, dr_summary_url(:time_span => 'Last hour')%>: <%= hash_count_sms[:l_hour]%></p>

<div>
  <p>Estadísticas</p>
  <ul style="list-style-type: none;">

  <li><%= link_to t('today').html_safe, dr_summary_url(:time_span => 'today')%>: <%= hash_count_sms[:today]%></li>
  <li><%= link_to t('last_48_hour').html_safe, dr_summary_url(:time_span => 'h_48')%>: <%= hash_count_sms[:h_48]%></li>
  <li><%= link_to t('this_week').html_safe, dr_summary_url(:time_span => 't_week')%>: <%= hash_count_sms[:t_week]%></li>
  <li><%= link_to t('last_15_days').html_safe, dr_summary_url(:time_span => 'd_15')%>: <%=  hash_count_sms[:d_15]%></li>
  <li><%= link_to t('this_month').html_safe, dr_summary_url(:time_span => 'this month')%>: <%= hash_count_sms[:t_month]%></li>
  <li><%= link_to t('last_60_days').html_safe, dr_summary_url(:time_span => 'd_60')%>:: <%= hash_count_sms[:d_60]%></li>
  <li><%= link_to t('this_year').html_safe, dr_summary_url(:time_span => 't_year')%>: <%= hash_count_sms[:t_year]%></li>
  <li><%= link_to t('last_500').html_safe, dr_summary_url(:time_span => 'd_500')%>: <%= hash_count_sms[:d_500]%></li>
</ul>
</div>
