<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= raw t('errors.template.header', count: @contact.errors.count, model: t('activerecord.models.contact')) %>
      </h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, Contact.human_attribute_name("name") %><br>
    <%= f.text_field :name %>
  </div>
  <% if @contact.gsm_numbers and not @contact.gsm_numbers.empty? %>
    <fieldset>
      <legend><%= Contact.human_attribute_name(:main_number) %></legend>
      <%= select_tag :main_number,
        options_from_collection_for_select(@contact.gsm_numbers, "id", "number"),
        {:multiple => false, :disabled => true, :size => 2}
      %>
    </fieldset>
  <% end %>
  <fieldset>
    <legend><%= Contact.human_attribute_name("gsm_numbers").html_safe %></legend>
    <%= text_area_tag "extra_gsm_numbers"%>
  </fieldset><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
