<h1><%= Contact.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= Contact.human_attribute_name(:name)%></th>
      <th><%= Contact.human_attribute_name(:gsm_numbers).html_safe%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.gsm_numbers.first %></td>
        <td><%= link_to t(:show), contact %></td>
        <td><%= link_to t(:edit), edit_contact_path(contact) %></td>
        <td><%= link_to t(:destroy), contact, method: :delete, data:{ confirm: t('sure').html_safe} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_item, item: Contact.model_name.human), new_contact_path %>
