<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= select_tag :user,
      options_from_collection_for_select(User.all, "id", "email"),
      {:size => [5,User.all.collect.count].min}
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
