<h1><%= t('listing_credits').html_safe %></h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin %>
        <th><%= t('user') %></th>
      <% end %>
      <th>Balance</th>
      <th><%= t('credit_date') %></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <% if current_user.admin %>
          <td><%= credit.user %></td>
        <% end %>
        <td><%= credit.balance %></td>
        <td><%= credit.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @lists %></p>

<% if current_user.admin %>
  <%= link_to t('new_credit').html_safe, new_credit_path %>
<% end %>
