<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @credit.balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @credit.user %>
</p>

<%= link_to t('edit'), edit_credit_path(@credit) %> |
<%= link_to t('back').html_safe, credits_path %>
