<h1><%= t(:gateway).pluralize%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name)%></th>
      <th><%= t(:price)%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gateways.each do |gateway| %>
      <tr>
        <td><%= gateway.name %></td>
        <td><%= gateway.price %></td>
        <td><%= link_to t(:show), gateway %></td>
        <td><%= link_to t(:edit), edit_gateway_path(gateway) %></td>
        <td><%= link_to t(:destroy), gateway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_item, item: t(:gateway).capitalize), new_gateway_path %>
