<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gateway.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gateway.price %>
</p>

<%= link_to 'Edit', edit_gateway_path(@gateway) %> |
<%= link_to 'Back', gateways_path %>
