<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:name)%>:</strong>
  <%= @gateway.name %>
</p>

<p>
  <strong><%= t(:price)%>:</strong>
  <%= @gateway.price %>
</p>

<%= link_to t(:edit), edit_gateway_path(@gateway) %> |
<%= link_to t(:back).html_safe, gateways_path %>

