<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:user)%>:</strong>
  <%= @debit.user %>
</p>

<p>
  <strong><%= t(:balance)%>:</strong>
  <%= @debit.balance %>
</p>

<%= link_to t('edit'), edit_debit_path(@debit) %> |
<%= link_to t('back').html_safe, debits_path %>
