<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @debit.user %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @debit.balance %>
</p>

<%= link_to 'Edit', edit_debit_path(@debit) %> |
<%= link_to 'Back', debits_path %>
