<%= form_for(@route, html: {:class => "route_form" })  do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= raw t('errors.template.header', count: @route.errors.count, model: t('activerecord.models.route')) %>
      </h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, t('price') %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :system_route %><br>
    <%= f.check_box :system_route %>
  </div>
  <%if new == true%>
  <div class="field">
    <label>Crear sin usuario</label>
    <br/>
    <%= check_box_tag :nil_user%>
  </div>
  <%end%>

    <fieldset>
      <legend><%= t('gateway') %></legend>
      <%= f.select :gateway_id,
                   options_from_collection_for_select(Gateway.all, "id", "name",@route.gateway.blank? ? Gateway.first.id : @route.gateway.id),
                   {},
                   :class => "route_gateway_select"
      %>
    </fieldset>

    <%if @route.users.count > 0%>
     <%= t('user').pluralize(@route.users.count)%>
    <div class="field">
      <ul>
      <%@route.users.each do |r|%>
          <li><%= r.username%></li>
        <%end%>
      </ul>
    </div>
    <%end%>

  <fieldset>

    <legend><%if !new%> <%= check_box_tag :add_user%><%end%> <%= t('user_add') %></legend>
    <%= f.select :user_id,
      options_from_collection_for_select(User.all, "id", "email"),
      {},
      :class => "route_user_select"
    %>
  </fieldset>

    <%if new == false%>
        <div class="field">
          <label>Elimnar usuario</label>
          <br/>
          <%= check_box_tag :remove_user%>
        </div>

    <fieldset>
        <%= select_tag(:remove_id,
                     options_from_collection_for_select(@route.users, "id", "email"),
                     {}
                    )%>

  </fieldset>
    <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
