<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('price') %>:</strong>
  <%= @route.price %>
</p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= @route.user %>
</p>

<p>
  <strong><%= t('gateway') %>:</strong>
  <%= @route.gateway %>
</p>

<%= link_to t('edit'), edit_route_path(@route) %> |
<%= link_to t('back').html_safe, routes_path %>
