<p id="notice"><%= notice %></p>

<p>
  <strong><%= Observer.human_attribute_name("number").html_safe %>:</strong>
  <%= @observer.number %>
</p>

<p>
  <strong><%= Observer.human_attribute_name("active") %>:</strong>
  <%= @observer.active %>
</p>

<%= link_to t(:show), edit_observer_path(@observer) %> |
<%= link_to t(:back).html_safe, observers_path %>
