<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:message).capitalize%>:</strong>
  <%= @bulk_message.message %>
</p>

<p>
  <strong>Lists:</strong>
  <%= @bulk_message.lists.count %>
</p>

<p>
  <strong>Recipients:</strong>
  <%= @bulk_message.gsm_numbers.count %>
</p>

<p>
  <strong>Route:</strong>
  <%= @bulk_message.route %>
</p>

<%= link_to 'New', new_bulk_message_path %> |
<%= link_to 'All', bulk_messages_path %>
