<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @bulk_message.message %>
</p>

<p>
  <strong>Lists:</strong>
  <%= @bulk_message.lists.first %>
</p>

<p>
  <strong>Route:</strong>
  <%= @bulk_message.route %>
</p>

<%= link_to 'Edit', edit_bulk_message_path(@bulk_message) %> |
<%= link_to 'Back', bulk_messages_path %>
