<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:message).capitalize%>:</strong>
  <%= @bulk_message.message %>
</p>

<p>
  <strong><%=t(:lists)%>:</strong>
  <%= @bulk_message.lists.count %>
</p>

<p>
  <strong><%=t(:recipient).pluralize.capitalize%>:</strong>
  <%= @bulk_message.gsm_numbers.count %>
</p>

<p>
  <strong><%=t(:route).capitalize%>:</strong>
  <%= @bulk_message.route %>
</p>

<%= link_to t(:new), new_bulk_message_path %> |
<%= link_to t(:all_m).capitalize, bulk_messages_path %>
