<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('message_id') %>:</strong>
  <%= @delivery_report.msg_id %>
</p>

<p>
  <strong><%= t('status') %>:</strong>
  <%= @delivery_report.status %>
</p>

<p>
  <strong><%= t('route') %>:</strong>
  <%= @delivery_report.gateway %>
</p>
